#main{
    background:#D0D0D0;
    padding:10px 40px; 
    border-radius:25px;
}

#controls{
    padding:10px 40px; 
    border-radius:25px;
    border:2px solid #999999;
}

#stat-panel{
    padding:10px 40px; 
    border-radius:25px;
    border:2px solid #999999;
}

.tooltip-container{
    text-align:left;
}

.opposed-tooltip-container{
    text-align:right;
}

.tooltip-label{
    cursor:help;
    border-bottom:1px dotted #999;
}

div[class="tooltip-inner"] {
    max-width: 150px;
}

.bar-div{
    position: relative;
}

.stat-label{
    color: #FFFFFF;
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 2;
}

.opposed-stat-label{
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    z-index: 2;
}

.stat-bar{
    position: relative;
    border:2px solid #000000;
    height:20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background:#000000;
    z-index: 1;
}

.empty-bar{
    position: absolute;
    border:2px solid #000000;
    height:20px;
    border-radius: 25px;
    background:#DDDDDD;
}

.choice{
    cursor:pointer;
    border:2px solid #A1A1A1;
    padding:10px 40px 0px;
    background:#F0F0F0;
    border-radius:25px;
    margin-bottom:5px;
}

.choice:hover{
    background:#F9F9F9;
}

.special-choice{
    border:3px solid #56D7E8;
}